<h1 class="text-align-center">Jhin</h1>
<p>
  The Virtuoso
</p>
<img src="http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/jhin-wallpaper.jpg" />
<h2>Primary Role</h2>
<p>
  Marksman
</p>
<h2>Abilites <input type="checkbox" ng-model="checked"></h2>
<ul ng-show="checked">
  <li>
    	Whisper <input type="checkbox" ng-model="checked1">
    <ul ng-show="checked1">
      <li>
        DEATH IN 4 ACTS: Jhin's basic attacks use ammunition and his attack speed cannot be improved except through growth by level-up. Jhin can attack 4 times before having to Disarm icon reload for 2.5 seconds, and automatically does so after 10 seconds of neither attacking or using an ability.
      </li>
      <li>
        The final shot is a guaranteed Critical strike icon critical strike that also deals 15 / 20 / 25% of the target's missing health bonus physical damage. Against structures the final shot will Critical strike icon critically strike but deals 44% reduced damage and doesn't apply the bonus physical damage.
      </li>
      <li>
        EVERY MOMENT MATTERS: Jhin's Critical strike icon critical strikes grant him 10% (+ 4% per 10% bonus attack speed) bonus movement speed for 2 seconds, but his total critical damage is reduced by 25%.
      </li>
      <li>
        Additionally, he gains 2% - 40% (based on level) (+ 4% per 10% critical strike chance) (+ 2.5% per 10% bonus attack speed) AD as bonus attack damage.
      </li>
    </ul>
  </li>
  <li>
    Dancing Grenade <input type="checkbox" ng-model="checked2">
    <ul ng-show="checked2">
      <li>
        ACTIVE: Lux releases a sphere of light in a line that deals magic damage to the first two enemies hit and Root icon roots them for 2 seconds.
      </li>
    </ul>
  </li>
  <li>
    Deadly Flurish <input type="checkbox" ng-model="checked3">
    <ul ng-show="checked3">
      <li>
        ACTIVE: Lux shields herself and throws out her wand in a line, shielding allied champions in its path for 3 seconds.
        Lux's wand then returns to her, stacking the shield to all allied champions it passes through as well as herself.
      </li>
    </ul>
  </li>
  <li>
    Captive Audience <input type="checkbox" ng-model="checked4">
    <ul ng-show="checked4">
      <li>
        ACTIVE: Lux sends an anomaly of twisted light to the target area, Slow icon slowing nearby enemies and granting Sight icon sight of the area around it for up to 5 seconds.
        At the end of the duration or if Lucent Singularity is activated again, the singularity detonates, dealing magic damage to all enemies in the area.
      </li>
    </ul>
  </li>
  <li>
    Curtain Call <input type="checkbox" ng-model="checked5">
    <ul ng-show="checked5">
      <li>
        ACTIVE: After gathering energy for 0.5 seconds, Lux fires a giant laser in a line that deals magic damage to all enemies hit, briefly Sight icon revealing them as well as the surrounding area.
      </li>
    </ul>
  </li>
</ul>
