<h1 class="text-align-center">Lux</h1>
<p>
  The Lady of Luminosity
</p>
<img src="https://i.ytimg.com/vi/geAAOreLerc/maxresdefault.jpg" />
<h2>Primary Role</h2>
<p>
  Mage
</p>
<h2>Abilites<input type="checkbox" ng-model="checked"></h2>
<ul ng-show="checked">
  <li>
    	Illumination <input type="checkbox" ng-model="checked1">
    <ul ng-show="checked1">
      <li>
        Lux's offensive abilities mark all affected enemies with light energy for 6 seconds. Her basic attacks and Final Spark.png Final Spark consume the mark, dealing 20 - 190 (based on level) (+ 20% AP) magic damage.
      </li>
    </ul>
  </li>
  <li>
    Light Binding <input type="checkbox" ng-model="checked2">
    <ul ng-show="checked2">
      <li>
        ACTIVE: Lux releases a sphere of light in a line that deals magic damage to the first two enemies hit and Root icon roots them for 2 seconds.
      </li>
    </ul>
  </li>
  <li>
    Prismatic Battier <input type="checkbox" ng-model="checked3">
    <ul ng-show="checked3">
      <li>
        ACTIVE: Lux shields herself and throws out her wand in a line, shielding allied champions in its path for 3 seconds.
        Lux's wand then returns to her, stacking the shield to all allied champions it passes through as well as herself.
      </li>
    </ul>
  </li>
  <li>
    Lucent Singularity <input type="checkbox" ng-model="checked4">
    <ul ng-show="checked4">
      <li>
        ACTIVE: Lux sends an anomaly of twisted light to the target area, Slow icon slowing nearby enemies and granting Sight icon sight of the area around it for up to 5 seconds.
        At the end of the duration or if Lucent Singularity is activated again, the singularity detonates, dealing magic damage to all enemies in the area.
      </li>
    </ul>
  </li>
  <li>
    Final Spark <input type="checkbox" ng-model="checked5">
    <ul ng-show="checked5">
      <li>
        ACTIVE: After gathering energy for 0.5 seconds, Lux fires a giant laser in a line that deals magic damage to all enemies hit, briefly Sight icon revealing them as well as the surrounding area.
      </li>
    </ul>
  </li>
</ul>
